
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
*.idea
.idea/
.idea/*.xml
.idea/modules.xml

### conflits possibles ###
*.lock
composer.json
.env
config/bundles.php
