*{
    font-family: 'Lato', sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

a{
    text-decoration: none !important;
}
/*FOOTER*/
footer{
    background-color: #33d9b2;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: center;
    flex-direction: column;
    width: 100%;
}
footer .follow {

    color: white;
    font-size: 1em;
    padding: 0.5em 0em 0em 0em;
    margin : 0em;
}
.social_img{
    display: flex;
    justify-content: center;

}
footer img {
    margin: 0.5em !important;
}
footer a {
    color: white;
}

