body {
    background-color: #33d9b2;
}

h1 {
    color: white;
    margin: 1em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px cadetblue;
}

.formHome {
    padding: 1em;
    margin: 3em auto;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 2px 2px 4px cadetblue;
}

.form-group {
    margin: 0.5em auto;
}

button.btn {
    color: white;
    display: block;
    width: 40%;
    margin: 2em auto 0.5em auto;
    background-color: #33d9b2;
}

.preferences {
    text-align: center;
    margin: 1em;
}