.mainHome {
    background-color: #33d9b2;
}

.mainHome h1 {
    display: block;
    width: 100%;
    color: white;
    margin-top: 1em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 1px cadetblue;
}

.mainHome .formHome {
    text-align: center;
    height: 350px;
    padding: 1em;
    margin: 1em auto;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 2px 2px 4px cadetblue;
}

.mainHome .form-group {
    margin: 0.5em auto;
}

.mainHome button.btn {
    color: white;
    display: block;
    margin: 2em auto 0.5em auto;
    background-color: #33d9b2;
}

.mainHome .preferences {
    text-align: center;
    margin-top: 1em;
}

/**
Pour écraser les form-check de bootstrap
 */
.form-check {
    padding-left: 0;
}