{% extends 'base.html.twig' %}

{% block title %}New Bookings{% endblock %}

{% block body %}
    <h1>Create new Bookings</h1>

    {{ include('bookings/_form.html.twig') }}

    <a href="{{ path('bookings_index') }}">back to list</a>
{% endblock %}
