@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

*{
    font-family: 'Lato', sans-serif;
}
html,body{
    height: 100%;
}
body{
    margin: 0;
    background-color: ghostwhite;
}

header{
    top: 0;
    height: 7vh;
}
main{
    display: flex !important;
    justify-content: space-around;
    height: 80vh;
}
p{
    margin: 0 0 10px;
}

/* Début du bouton switch */
.switch{
    display:none;
}
.ui-content{
    background: -webkit-linear-gradient(top,#dedede,#fefefe);
    border-radius: 20px;
    display: inline-block;
    float: right;
    height: 46px;
    overflow: hidden;
    padding: 5px;
}
.ui-switch{
    background: #FFF;
    border: 1px #cfc8bc solid;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 1), 0 1px 1px rgba(0, 0, 0, .15) inset;
    display: inline-block;
    height: 40px;
    margin-bottom: 15px;
    padding: 2px;
    position: relative;
    width: 120px;
}
.switch:checked ~ label .ui-switch{
    background: -webkit-linear-gradient(top,#33D9B4,#00AC86);
}
.ui-switch-handle{
    background: -webkit-linear-gradient(top,#f7f5f2,#e3dfd6);
    border-radius: 20px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.3), 0 1px 1px rgba(255,255,255,.8) inset;
    display: inline-block;
    height: 40px;
    position: absolute;
    width: 20px;
}
.switch:checked ~ label .ui-switch-handle{
    right: 2px;
}
.ui-switch-handle:before{
    margin-left: -5.5em;
    line-height: 22px;
    content: "Carte active";
    font-size: 12px;
    color: #FFF;
}
.ui-switch-handle:after{
    position: relative;
    right: -2em;
    top: -20px;
    font-size: 12px;
    content: "Carte desactive";
}
#boutonSwitch{
    position: absolute;
    top: 19em;
    right: 2em;
}
/* Fin du bouton switch */

/* Division de l'écran en 2 */
/* Partie gauche */
#listeResultat{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    height: 74vh;
    border-radius: 10px 0 0 10px;
    overflow: auto;
    background-color: white;
    color: black;
    padding: 1em;
    margin: 1vh 1em 1vh 1em;
    box-shadow: 1px 1px 1px 1px black;
}
/* Partie droite */
#map{
    width: 49%;
    height: 77vh;
    margin: 1vh 1em 1vh 1em;
}
/* Barre commune */
#entete{
    background-color: #33d9b2;
    height: 2em;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 1em 0 1em;
}
#nomSite{
    border: 2px solid white;
    color: white;
    padding: 0 2em 0 2em;
    font-weight: bolder;
}
#find{
    width: 100%;
    height: 100%;
    border: 2px solid white;
    background-color: #33d9b2;
    color: white;
}
#find::placeholder{
    color: white;
    font-weight: bolder;
}
#recherche{
    width: 30%;
    height: 90%;
    margin: 0 0 0 0;
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 100%;
}
article:last-child{
    border-bottom: 0;
}


.articleImg{
    background-size: cover;
    background-position: center;
    width: 30%;
    height: auto;
    margin: 0.3em 0 0.3em 0;
    text-align: center;
}
.articleGauche{
    width: 70%;
}
iframe{
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 1px 1px black;
    border: 0;
}

/* Bandeau de filtre */
#zoneFiltre{
    background-color: white;
    border-bottom: 2px solid #33d9b2;
}

#menu{
    display: flex;
    justify-content: center;
    background-color: white;
}
#menu ul{
    margin:0;
    padding: 0;
    list-style-type:none;
    text-align:center;
}
#menu li{
    float: left;
    margin: auto;
    border-left: 2px solid #33d9b2;
}
#menu li:first-child{
    border-left: none;
}
#menu li:last-child{
    border-right: 2px solid White;
}
.pere li:last-child{
    border-radius: 0 0 12px 12px;
}
#menu li a{
    display:block;
    width:300px;
    color:#33d9b2;
    text-decoration:none;
    padding:5px;
    font-size: 20px;
}
#menu li #cpVille {
    padding: 5px 0 5px 0;
    display:block;
    width:300px;
    color:#33d9b2;
    text-decoration:none;
    font-size: 20px;
}
#menu ul li ul{
    display:none;
}
#menu li a:hover{
    font-weight: bolder;
}
#menu li ul li a:hover{
    font-weight: bolder;
}
#menu ul li:hover ul{
    display:block;
}
#menu li:hover ul li{
    background-color: white;
    border-left: 2px solid #33d9b2;
    border-right: 2px solid #33d9b2;
    margin-left: -2px;
    float:none;
}
#menu li:hover ul li:last-child{
    border-bottom: 1px solid #33d9b2;
}
#menu li ul{
    position:absolute;
}
#menu li ul li a, #menu li ul li #cpVille{
    color:#33d9b2;
}
#cpVille{
    border: 0;
    margin: 0 5px 5px 5px;
}

ul li ul li input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

ul li ul li label {
    display: block;
    position: relative;
    margin: 0;
    padding: 15px 30px 15px 62px;
    border-radius: 100px;
    color: white;
    background-color: #33d9b2;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color 1s, box-shadow 1s;
}

ul li ul li label::before {
    content: 'X';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 28px;
    border: 3px solid #33d9b2;
    background-color: white;
    color: #33d9b2;
    border-radius: 100px;
    transition: background-color 0.3s;
}

input:checked + label {
    background-color: white;
    color: #33d9b2;
}

input:checked + label::before {
    background-color: white;
    color: white;
}

.titreTable{
    text-decoration: none;
    color: black;
}