@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
* {
    font-family: 'Lato', sans-serif;
}

/*PHOTO + MAP*/
.big_img{
    display: flex;
    width: 100%;
}
.photo{
    background-size: cover;
    width: 100%;
    height: 40vh;
}
/*CONTENT (hors aside et recommandations)*/
#content{
    width: 50%;

}
/*PRESENTATION*/
.presentation_reco{
    margin: 2% 5%;
    font-size: 1vw;
    width: 90%;
}
.presentation{
    display: flex;
}
#nomTable{
    display: flex;
    align-items: center;
}
#nomTable h1{
    margin : 0;
}
#nomTable label{
    margin: 0;
}
#nomTable fieldset{
    margin: .5vw .6vw 0vw .6vw;
}
.glyphicon {
    color: #33d9b2;
}
.coord{
    border: #33d9b2 solid .3vw ;
    margin: 3% 0;
    padding: 3%;
    width: 60%;
}
.coord table {
    width: 100%;
    margin: 1%;
}
.coord td {
    padding: 1%;
}
/*AVIS*/
.avis{
    width: 60%;
}

/**NOTE**/
.note_globale{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.note_finale{
    font-size: 3vw;
    color: #33d9b2;
}

/**ETOILES**/
fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/
.rating {
    border: none;
    float: left;
}
.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    content: "\f005";
}
.rating > .half:before {
    content: "\f089";
    position: absolute;
}
.rating > label {
    color: #ddd;
    float: right;
}
/***** Highlight Stars on Hover *****/
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #33d9b2;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #25a285;  }

/*ETOILE SEULE*/
.etoile {
    border: none;
    float: left;
}
.etoile > input { display: none; }
.etoile > label:before {
    font-size: 1.25em;
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    content: "\f005";
}

.etoile > label {
    color: #33d9b2;
    float: right;
}

#notes{
    display: flex;
    flex-direction: column;
    width: 2.5em;
}
/*GRAPH ETOILES*/
#notes_graph{
    display: flex;
}

#graph img{
    height: 10vw;
    margin-left: 1vw;
}

/*SUGGESTIONS*/
#suggest{
    margin: 3% 0;
}
#suggest p{
    font-weight: bold;
}
#suggest_pics{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#suggest_pics li {
    width: 100%;
}
#suggest_pics ul {
    list-style: none;
    width: 25%;
    padding: 2%;
    text-align: center;
}
#suggest_pics img{
    width: 100%;
}
.sugg_img{
    background-size: cover;
    height: 13vw;
}

.text_hover{
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4vw;
}
.text_hover:hover{
    opacity: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

/*ASIDE MAP*/
#aside_map{
    display: flex;
    width: 50%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

/*ASIDE*/
aside{
    width: 50%;
    background-color: #33d9b2;
    color: white;
    text-align: center;
    margin: 15%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    height: 35%;
}
aside label{
    color: white;
    font-size: .8vw;
    margin: 0;
    text-align: left;
}
aside form input{
    margin-bottom: 4%;
    border: none;
    padding: 0.3vw;
}
#prix_pers{
    display: flex;
    border-bottom: 1px white solid;
}
#prix{
    font-size: 4vw;
    width: 70%;
    text-align: right;
    margin: 0;
}
#personne{
    font-size: 1vw;
    width: 30%;
    padding-top: 18%;
}
.date{
    display: flex;
    flex-direction: column;
}
.heure{
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
}
#date_heure{
    display: flex;
}
#bookings_form_nb_convives{
    border: none;
    padding: 0.3vw;
    background-color: white;
}
.nb_conv {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
}
#total{
    color: white;
    font-size: 2vw;
    border-top: 1px white solid;
    margin-top: 1vw;
}
#bookings_form_reserver{
    border: none;
    background-color: white;
    color: #33d9b2;
    font-size: 1.3vw;
    padding: 0.3vw;
    width: 60%;
    display: block;
    align-self: center ;
    align-content: center;
    text-align: center;
}

aside form{
    display: flex;
    flex-direction: column;
    color: black;
    text-align: center;
    margin: 5% 0;
}

/*MAP*/
#map{
    width: 100%;
}
#map iframe{
    width: 100%;
    height: 30vw;
    border: none;
}