{% extends 'base.html.twig' %}

{% block title %}New HostTables{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/host_tables/base.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/host_tables/new.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% block body %}
    <main>
        <h1>Create new HostTables</h1>

        {{ include('host_tables/_form.html.twig') }}

        <a href="{{ path('host_tables_index') }}">Retour à la liste des tables d'hôtes</a>
    </main>
{% endblock %}
